@model TMS.WebAPP.Models.MasterDataModel.VehicleTypeModel
@using TMS.WebAPP.HtmlExtension
@{
    Layout = "~/Views/Shared/_TSMMasterDataSetupAndReportLayout_Detail.cshtml";
}

@Html.AntiForgeryToken()
<!-- Content Header (Page header) -->
<section class="content-header margin-bottom-10px heigh-30px">
    <h1 class="float-left">
        @MessageManager.GetCaptionValueByKey("lblVehicleType")
    </h1>
    @Html.Partial("_Delete")
</section>

<!-- Main content -->
<section class="content">
    <!-- Search -->
    <div class="row row-margin-15px margin-top-8px">
        <div class="col-xs-12">
            <!-- Search -->
            <div class="box box-solid">
                <div class="box-header">
                    <i class="fa fa-search"></i>
                    <h3 class="box-title">@MessageManager.GetCaptionValueByKey("lblSearch")</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-default btn-sm" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row filter-status">
                        <div class="form-group col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 control-label margin-top-8px">
                                    @MessageManager.GetCaptionValueByKey("lblCode")
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Code, new { @id = "search_code", @class = "form-control", @placeholder = @MessageManager.GetCaptionValueByKey("lblCode") })
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 control-label margin-top-8px">
                                    @MessageManager.GetCaptionValueByKey("lblNameDefault")
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Name, new { @id = "search_name", @class = "form-control", @placeholder = @MessageManager.GetCaptionValueByKey("lblNameDefault") })
                                    @*<input type="text" class="form-control" id="VehicleTypename" placeholder="@MessageManager.GetCaptionValueByKey("lblVehicleType")">*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row  text-center">
                        <button type="button" id="btnSearch" class="btn btn-primary margin-top-8px">
                            <i class="fa fa-search"></i>
                            @MessageManager.GetCaptionValueByKey("lblSearch")
                        </button>
                        <button type="button" id="btnClear" class="btn btn-default margin-top-8px">
                            <i class="fa fa-refresh"></i>
                            @MessageManager.GetCaptionValueByKey("lblClear")
                        </button>
                    </div>

                    <p></p>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Grid Data-->
    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Button action-->
            <div class="row">
                <button class="btn btn-primary margin-bottom-5px" onclick="popupDetail(0)">
                    <i class="fa fa-plus-square"></i>
                    @MessageManager.GetCaptionValueByKey("btnAddnew")
                </button>

                <button type="button" disabled id="delete-selected" class="btn btn-danger margin-bottom-5px" data-toggle="modal" data-target="#delete-selected-action-confirmation" name="">
                    <i class="fa fa-trash"></i>
                    @MessageManager.GetCaptionValueByKey("btnDelete") (@MessageManager.GetCaptionValueByKey("lblSelected"))
                </button>
            </div>

            <!-- End button action-->
            <div id="vehicletype-grid" class="row margin-left-0px margin-right-0px">
            </div>
            <script>
                $(document).ready(function () {
                    $("#vehicletype-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("VehicleTypeList", "VehicleType"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                //display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: 15,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true

                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [10, 15, 20, 50, 100, 200, 500, 2000]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        columnMenu: true,
                        scrollable: true,
                        resizable: true,
                        dataBound: onDataBound,
                        columns: [

                            {
                                field: "Id",
                                headerTemplate: "<input id='mastercheckbox' type='checkbox' />",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox' value='#=Id#' class='checkboxGroups' />",
                                width: 80
                            },
                            {
                                field: "Id",
                                title: "@MessageManager.GetCaptionValueByKey("btnDelete")",
                                width: 95,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: '<button onClick="removeItem(#=Id#)" type="button" class="btn btn-danger cursor-pointer"><i class="fa fa-trash"></i></button>'
                            },
                            {
                                field: "Id",
                                title: "@MessageManager.GetCaptionValueByKey("btnEdit")",
                                width: 95,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: '<a class="btn btn-primary cursor-pointer" onClick="popupDetail(#=Id#)"><i class="fa fa-pencil"></i></a>'
                            },
                            {
                                field: "Code",
                                headerAttributes: { style: "text-align:center" },
                                title: "@MessageManager.GetCaptionValueByKey("lblCode")",
                                width: 100
                            },
                            {
                                field: "Name",
                                headerAttributes: { style: "text-align:center" },
                                title: "@MessageManager.GetCaptionValueByKey("lblNameDefault")",
                                width: 350

                            },
                            {
                                field: "NameLL",
                                headerAttributes: { style: "text-align:center" },
                                title: "@MessageManager.GetCaptionValueByKey("lblNameLocalLanguage")",
                                width: 350

                            },
                            {
                                field: "Remark",
                                headerAttributes: { style: "text-align:center" },
                                title: "@MessageManager.GetCaptionValueByKey("lblRemark")",
                                width: 250
                            }
                        ]
                    });
                });
            </script>

            <script type="text/javascript">
                var selectedIds = [];

                $(document).ready(function () {

                    //search button
                    $('#btnSearch').click(function () {
                        //search
                        var grid = $('#vehicletype-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        //clear selected checkboxes
                        $('.checkboxGroups').attr('checked', false).change();
                        selectedIds = [];
                        return false;

                    });

                    $("#search_code").keydown(function (event) {
                        if (event.keyCode === 13) {
                            $("#btnSearch").click();
                            return false;
                        }
                    });

                    $("#search_name").keydown(function (event) {
                        if (event.keyCode === 13) {
                            $("#btnSearch").click();
                            return false;
                        }
                    });

                    $("#delete-selected-btnYes").click(function () {
                        var postData = {
                            selectedIds: selectedIds
                        };
                        addAntiForgeryToken(postData);

                        if (selectedIds.length == 0) {
                            show(true, "@Html.Raw(@MessageManager.GetMessageInfoByMessageCode("MS010"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");

                            return;
                        }

                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "@(Url.Action("DeleteSelected", "VehicleType"))",
                            data: postData,
                            beforeSend: function () {
                                waitingDialog.show('@Html.Raw(MessageManager.GetCaptionValueByKey("lblSystemInprogress"))');
                            },
                            success: function (result) {
                                if (result.isDeleted) {
                                    //window.location.href = '../../Order/Edit?OrderCode=' + result.orderCode; // call method GET: Creat (Reload Form Data)
                                    show(true, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS007"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");

                                    //reload grid
                                    var grid = $('#vehicletype-grid').data('kendoGrid');
                                    grid.dataSource.read();

                                    selectedIds = [];
                                } else { //
                                    show(false, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS005"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");
                                }
                                waitingDialog.hide();
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                show(false, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS005"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");
                                waitingDialog.hide();
                            },
                            traditional: true
                        });

                        $("#delete-selected-btnCancel").trigger("click");
                    })

                    //$('#mastercheckbox').click(function () {
                    //    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                    //});

                    $('#mastercheckbox').change(function (ev) {
                        if ($(this).is(':checked')) {
                            $('.checkboxGroups').each(function (idx, item) {
                                if (!($(item).closest('tr').is('.k-state-selected'))) {
                                    $(item).click();
                                }
                                // $(item).click();

                            });
                        }
                        else {
                            $('.checkboxGroups').each(function (idx, item) {
                                if (($(item).closest('tr').is('.k-state-selected'))) {
                                    $(item).click();
                                }
                                // $(item).click();

                            });
                        }
                        //var checked = ev.target.checked;

                    });

                    //wire up checkboxes.
                    $('#vehicletype-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked == -1) {
                                //add id to selectedIds.
                                selectedIds.push($check.val());
                            }
                        } else {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked > -1) {
                                //remove id from selectedIds.
                                selectedIds = $.grep(selectedIds, function (item, index) {
                                    return item != $check.val();
                                });
                            }
                        }
                        updateMasterCheckbox();
                    });
                });

                function onDataBound(e) {
                    $('#vehicletype-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').each(function () {
                        var currentId = $(this).val();
                        var checked = jQuery.inArray(currentId, selectedIds);
                        //set checked based on if current checkbox's value is in selectedIds.
                        $(this).attr('checked', checked > -1);
                    });

                    updateMasterCheckbox();
                }

                function updateMasterCheckbox() {
                    var numChkBoxes = $('#vehicletype-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
                    var numChkBoxesChecked = $('#vehicletype-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
                    $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);

                    //console.log(selectedIds);

                    if (selectedIds.length > 0)
                        $("#delete-selected").removeAttr("disabled");
                    else
                        $("#delete-selected").attr("disabled", true);
                }

                function additionalData() {
                    var data = {
                        Name: $('#search_name').val(),
                        Code: $('#search_code').val(),
                    };

                    addAntiForgeryToken(data);
                    return data;
                }
            </script>

            <script type="text/javascript">

                var _id = 0;

                function removeItem(id) {
                    _id = id;
                    $('#modalDelete').modal('show');
                }

                $("#delete-one-btnYes").click(function () {
                    var postData = {
                        id: _id
                    };

                    addAntiForgeryToken(postData);

                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "@(Url.Action("Delete", "VehicleType"))",
                        data: postData,
                        beforeSend: function () {
                            waitingDialog.show('@Html.Raw(MessageManager.GetCaptionValueByKey("lblSystemInprogress"))');
                        },
                        success: function (result) {
                            if (result.saveSuccess) {
                                //window.location.href = '../../Order/Edit?OrderCode=' + result.orderCode; // call method GET: Creat (Reload Form Data)
                                show(true, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS007"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");

                                //reload grid
                                var grid = $('#vehicletype-grid').data('kendoGrid');
                                grid.dataSource.read();
                            } else { //
                                show(false, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS005"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");
                            }
                            waitingDialog.hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            show(false, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS005"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");
                            waitingDialog.hide();
                        },
                        traditional: true
                    });

                    _id = 0;
                    $('#modalDelete').modal('hide');
                });

                $("#delete-one-btnCancel").click(function () {
                    _id = 0;
                    $('#modalDelete').modal('hide');
                })
            </script>

            <script type="text/javascript">
                function popupDetail(id) {
                    $('#detailvehicletype').modal('show');

                    $('#@Html.FieldIdFor(m => m.Id)').val(0);
                    $('#@Html.FieldIdFor(m => m.Code)').val('');
                    $('#@Html.FieldIdFor(m => m.Name)').val('');
                    $('#@Html.FieldIdFor(m => m.NameLL)').val('');
                    $('#@Html.FieldIdFor(m => m.Remark)').val('');

                    if (id > 0) {
                        $('#@Html.FieldIdFor(m => m.Id)').val(id);
                        getDetail(id);
                    }

                }

                $("#btnClear").click(function () {
                    $('#search_code').val('');
                    $('#search_name').val('');

                    $("#btnSearch").click();
                });
            </script>
        </div>
    </div>
</section>

@Html.Partial("_CreateOrUpdate", Model)