@model TMS.WebAPP.Models.MasterDataModel.ItemUnitModel
@using Kendo.Mvc.UI
@using TMS.WebAPP.HtmlExtension

@{
    Layout = null;
    ViewBag.Title = @MessageManager.GetCaptionValueByKey("lblItemUnit");
}

@Html.HiddenFor(x => x.Id)

<!-- Modal -->
<div class="modal fade" id="detailitemunit" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@MessageManager.GetCaptionValueByKey("lblItemUnit")</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="form-group row">
                            <label class="col-md-4 control-label margin-top-8px">
                                @MessageManager.GetCaptionValueByKey("lblCode") <span class="star">(*)</span>
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", maxlength = 50, @placeholder = @MessageManager.GetCaptionValueByKey("lblCode") })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="form-group row">
                            <label class="col-md-4 control-label margin-top-8px">
                                @MessageManager.GetCaptionValueByKey("lblNameDefault") <span class="star">(*)</span>
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", maxlength = 500, @placeholder = @MessageManager.GetCaptionValueByKey("lblNameDefault") })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="form-group row">
                            <label class="col-md-4 control-label margin-top-8px">
                                @MessageManager.GetCaptionValueByKey("lblNameLocalLanguage")
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.NameLL, new { @class = "form-control", maxlength = 500, @placeholder = @MessageManager.GetCaptionValueByKey("lblNameLocalLanguage") })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="form-group row">
                            <label class="col-md-4 control-label margin-top-8px">
                                @MessageManager.GetCaptionValueByKey("lblRemark")
                            </label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(m => m.Remark, new { @class = "form-control", maxlength = 500, @placeholder = @MessageManager.GetCaptionValueByKey("lblRemark") })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="buttonSave" name="save" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>
                    @MessageManager.GetCaptionValueByKey("btnSave")
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> @MessageManager.GetCaptionValueByKey("lblClose")</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function getDetail(_id) {
        var postData = {
            id: _id
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("Detail", "ItemUnit"))",
            data: postData,
            beforeSend: function () {
                waitingDialog.show('@Html.Raw(MessageManager.GetCaptionValueByKey("lblSystemInprogress"))');
            },
            success: function (result) {
                $('#@Html.FieldIdFor(m => m.Id)').val(result.data.Id);
                $('#@Html.FieldIdFor(m => m.Code)').val(result.data.Code);
                $('#@Html.FieldIdFor(m => m.Name)').val(result.data.Name);
                $('#@Html.FieldIdFor(m => m.NameLL)').val(result.data.NameLL);
                $('#@Html.FieldIdFor(m => m.Remark)').val(result.data.Remark);

                waitingDialog.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                show(false, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS005"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");
                waitingDialog.hide();
            },
            traditional: true
        });
    }

    function validFormRequired() {
        var isValid = true;

        var Code = $('#@Html.FieldIdFor(m => m.Code)').val();
        if (isNullOrEmpty(Code)) {
            isValid = false;
            $('#@Html.FieldIdFor(m => m.Code)').addClass("borderError");

            setError('@Html.FieldIdFor(m => m.Code)', true, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("VR006", "lblCode"))");
        }
        else {
            $('#@Html.FieldIdFor(m => m.Code)').removeClass("borderError");

            setError('@Html.FieldIdFor(m => m.Code)', false, '');
        }

        var Name = $('#@Html.FieldIdFor(m => m.Name)').val();
        if (isNullOrEmpty(Name)) {
            isValid = false;
            $('#@Html.FieldIdFor(m => m.Name)').addClass("borderError");

            setError('@Html.FieldIdFor(m => m.Name)', true, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("VR006", "lblNameDefault"))");
        }
        else {
            $('#@Html.FieldIdFor(m => m.Name)').removeClass("borderError");

            setError('@Html.FieldIdFor(m => m.Name)', false, '');
        }

        return isValid;
    }

    $("#buttonSave").click(function () {
        var isValid = true;

        isValid = validFormRequired();

        if (isValid == false) {
            show(false, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS009"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");
        } else {

            function ItemUnitModel() {
                return {
                    Id: $('#@Html.FieldIdFor(model => model.Id)').val(),
                    Code: $('#@Html.FieldIdFor(model => model.Code)').val(),
                    Name: $('#@Html.FieldIdFor(model => model.Name)').val(),
                    NameLL: $('#@Html.FieldIdFor(model => model.NameLL)').val(),
                    Remark: $('#@Html.FieldIdFor(model => model.Remark)').val()
                };
            }

            var postSaveData = {
                model: ItemUnitModel()
            };
            addAntiForgeryToken(postSaveData);

            $.ajax({
                url: '@(Url.Action("SaveOrUpdate", "ItemUnit"))',
                type: 'POST',
                dataType: 'json',
                data: postSaveData,
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                beforeSend: function () {
                    waitingDialog.show('@Html.Raw(MessageManager.GetCaptionValueByKey("lblSystemInprogress"))');
                },
                success: function (result) {

                    if (result.saveSuccess) {
                        //window.location.href = '../../Order/Edit?OrderCode=' + result.orderCode; // call method GET: Creat (Reload Form Data)
                        show(true, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS003"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");

                        //reload grid
                        var grid = $('#itemunit-grid').data('kendoGrid');
                        grid.dataSource.read();

                        $('#@Html.FieldIdFor(m => m.Id)').val(result.id);
                    } else if (result.isDuplicate && result.isDuplicateCode) { //
                        show(false, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS006", "lblCode"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");
                    } else if (result.isDuplicate && result.isDuplicateName) { //
                        show(false, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS006", "lblNameDefault"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");
                    } else { //
                        show(false, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS005"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");
                    }

                    waitingDialog.hide();
                },
                error: function (msg) {
                    show(false, "@Html.Raw(MessageManager.GetMessageInfoByMessageCode("MS005"))", "@Html.Raw(MessageManager.GetCaptionValueByKey("lblAlert"))");
                    waitingDialog.hide();
                }
            });
        }

    });
</script>