@model TMS.WebAPP.Models.OrderModel

@{
    //page title
    ViewBag.Title = @MessageManager.GetCaptionValueByKey("lblOrderManagement");
}

@Html.AntiForgeryToken()
@*@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "group-form" }))
    {*@
<div class="content-header clearfix">
    <h1 class="pull-left">
        @MessageManager.GetCaptionValueByKey("btnAddnew") (@MessageManager.GetCaptionValueByKey("lblOrderManagement"))
        <button type="button" class="btn btn-success backlist"><i class="fa fa-arrow-circle-left"></i> @Html.ActionLink(MessageManager.GetCaptionValueByKey("btnBackToList"), "List")</button>
    </h1>
    <div class="pull-right">
        <button type="button" id="buttonCreate" class="btn btn-primary">
            <i class="fa fa-floppy-o"></i>
            @MessageManager.GetCaptionValueByKey("btnSave")
        </button>
    </div>
</div>
@Html.Partial("_CreateOrUpdate", Model)
@*}*@