@model TMS.WebAPP.Models.GroupModel
@using TMS.WebAPP.Framework
@{
    //page title
    ViewBag.Title = @MessageManager.GetCaptionValueByKey("lblUserGroup");

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @MessageManager.GetCaptionValueByKey("btnEdit") (@MessageManager.GetCaptionValueByKey("lblUserGroup"))
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(MessageManager.GetCaptionValueByKey("btnBackToList"), "GroupList")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                @MessageManager.GetCaptionValueByKey("btnSave")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                @MessageManager.GetCaptionValueByKey("btnSaveAndContinue")
            </button>
            <span id="group-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @MessageManager.GetCaptionValueByKey("btnDelete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("group-delete")